In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pprint import pprint

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [18]:
DATA_DAY_1 = "../data/round-4-island-data-bottle/prices_round_4_day_1.csv"
DATA_DAY_2 = "../data/round-4-island-data-bottle/prices_round_4_day_2.csv"
DATA_DAY_3 = "../data/round-4-island-data-bottle/prices_round_4_day_3.csv"

OBS_DATA_DAY_1 = "../data/round-4-island-data-bottle/observations_round_4_day_1.csv"
OBS_DATA_DAY_2 = "../data/round-4-island-data-bottle/observations_round_4_day_2.csv"
OBS_DATA_DAY_3 = "../data/round-4-island-data-bottle/observations_round_4_day_3.csv"

TRADE_DATA_DAY_1 = "../data/round-4-island-data-bottle/trades_round_4_day_1.csv"
TRADE_DATA_DAY_2 = "../data/round-4-island-data-bottle/trades_round_4_day_2.csv"
TRADE_DATA_DAY_3 = "../data/round-4-island-data-bottle/trades_round_4_day_3.csv"

df0 = pd.read_csv(DATA_DAY_1, sep=';')
df1 = pd.read_csv(DATA_DAY_2, sep=';')
df2 =  pd.read_csv(DATA_DAY_3, sep=';')

odf0 = pd.read_csv( OBS_DATA_DAY_1, sep=',')
odf1 = pd.read_csv( OBS_DATA_DAY_2, sep=',')
odf2 =  pd.read_csv(OBS_DATA_DAY_3, sep=',')

tdf0 = pd.read_csv( TRADE_DATA_DAY_1, sep=';')
tdf1 = pd.read_csv( TRADE_DATA_DAY_2, sep=';')
tdf2 =  pd.read_csv(TRADE_DATA_DAY_3, sep=';')

df = pd.concat([df0, df1, df2])
df.set_index(['day', 'timestamp', 'product'], inplace=True)

odf = pd.concat([odf0, odf1, odf2])
odf.set_index(["timestamp"], inplace=True)

tdf = pd.concat([tdf0, tdf1, tdf2])
tdf.set_index(['timestamp', 'symbol'], inplace=True)

In [19]:
odf

,bidPrice,askPrice,transportFees,exportTariff,importTariff,sugarPrice,sunlightIndex
timestamp,,,,,,,
0,627.0,628.5,1.0,9.0,-3.0,200.000000,60.00
100,630.0,631.5,1.0,9.0,-3.0,200.098445,60.00
200,630.0,631.5,1.0,9.0,-3.0,200.103915,60.00
300,632.0,633.5,1.0,9.0,-3.0,200.352462,60.01
400,630.5,632.0,1.0,9.0,-3.0,200.201545,60.01
...,...,...,...,...,...,...,...
999500,797.5,799.0,1.7,9.5,-5.5,212.124918,54.95
999600,801.5,803.0,1.7,9.5,-5.5,212.147650,54.96
999700,804.0,805.5,1.7,9.5,-5.5,212.202086,54.97
999800,798.5,800.0,1.7,9.5,-5.5,212.112734,54.98
999900,797.0,798.5,1.7,9.5,-5.5,212.174157,54.99

In [20]:
tdf

                                       buyer  seller   currency    price  \
timestamp symbol
0         RAINFOREST_RESIN               NaN     NaN  SEASHELLS  10008.0
100       KELP                           NaN     NaN  SEASHELLS   2034.0
          RAINFOREST_RESIN               NaN     NaN  SEASHELLS   9992.0
          SQUID_INK                      NaN     NaN  SEASHELLS   1838.0
200       JAMS                           NaN     NaN  SEASHELLS   6542.0
...                                      ...     ...        ...      ...
999800    VOLCANIC_ROCK_VOUCHER_10500    NaN     NaN  SEASHELLS      0.0
          VOLCANIC_ROCK_VOUCHER_9500     NaN     NaN  SEASHELLS    419.0
          VOLCANIC_ROCK_VOUCHER_9500     NaN     NaN  SEASHELLS    419.0
          VOLCANIC_ROCK_VOUCHER_9750     NaN     NaN  SEASHELLS    184.0
          VOLCANIC_ROCK_VOUCHER_9750     NaN     NaN  SEASHELLS    184.0

                                       quantity
timestamp symbol
0         RAINFOREST_RESIN                    6
100       KELP                                1
          RAINFOREST_RESIN                    2
          SQUID_INK                           1
200       JAMS                               11
...                                         ...
999800    VOLCANIC_ROCK_VOUCHER_10500         1
          VOLCANIC_ROCK_VOUCHER_9500         13
          VOLCANIC_ROCK_VOUCHER_9500          1
          VOLCANIC_ROCK_VOUCHER_9750         13
          VOLCANIC_ROCK_VOUCHER_9750          1

[54490 rows x 5 columns]